body{

    background-image: url(home2.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
.write{

    font-family:Georgia, 'Times New Roman', Times, serif}
    h1{
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight: 900;
    }
    .accordion{
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 50px 50px 50px;
  gap: 10px;
  padding: 10px;
  
    }
    .accordion > div {
        background-color:rgb(153, 218, 226);
        padding:30px 200px 40px 20px;
        font-weight: 700;
        box-shadow: 20px 20px 20px rgb(86, 83, 83);
        
      }
      